#subContainer {
  padding-top: 20px;
}

#mainContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

#book0 {
  margin-top: 30px;
  height: 100px;
  width: 300px;
  border-style: outset;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
}

table {
  width: 400px;
}

th {
  text-align: left;
}

table, th, td, tbody, tr {
  border: 1px solid #000;
 
}

.center {
  margin: auto;
  width: 60%;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hideform {
  display: none;
}